<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".Core.StudentManagementApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Student_Management_System">
        <activity
            android:name=".AddNoticeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Login_and_Home.TeacherHomeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Admin.ManageTeacherActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Admin.ManageStudentActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Admin.StudentListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Admin.TeacherListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Admin.AddStudentActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Admin.AddTeacherActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Student.StudentNoticeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Student.StudentResultActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Student.StudentCourseActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Student.StudentAttendanceActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Login_and_Home.StudentHomeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Login_and_Home.SignupActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Login_and_Home.AdminHomeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Login_and_Home.LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>